/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100%;

    background: #0b1326;

    font-family: "Geist", "Inter", sans-serif;
}

body {
    min-height: 100vh;
}

app-root {
    display: block;

    width: 100%;
    min-height: 100vh;

    background: #0b1326;
}